<div class="fixed-bottom">
  <div class="footer">
    <div class="d-flex justify-content-around footer-links">
      <a href="/"><i class="fa fa-home" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
      <a href="https://www.linkedin.com/in/karim-drief-02a561108/"><i class="fab fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-user" aria-hidden="true"></i></a>
    </div>
    <div class="text-center">
      This app is made with <i class="fas fa-heart"></i> @ Le Wagon
    </div>
  </div>
</div>
