<div class="footer fixed-bottom">
  <div class="d-flex justify-content-around footer-links">
    <a href="/"><i class="fa fa-home" aria-hidden="true"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/karim-drief-02a561108/"><i class="fab fa-linkedin"></i></a>
  </div>
  <span class="d-block text-center">This app is made with <i class="fas fa-heart"></i> @ Le Wagon</span>
</div>
