.footer {
  background: #3366FF;
  height: 80px;
  padding: 0px 20px;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
}


.footer-links a {
  color: black;
  // opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  padding-top: 10px;
}

.footer-links a:hover {
  opacity: 1;
}

.footer .fa-heart {
  color: red;
}

.body-height {
 height: 98vh;
}

.footer-copyright {
  font-size: 12px;
  padding-top: 10px;

}
