.footer {
  background: $dark;
  height: 80px;
  padding: 0px 20px;
  color: white;
  width: 100%;
}


.footer-links a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  padding-top: 10px;
}

.footer-links a:hover {
  color: white;
}

.footer span {
  color: white;
}

.footer .fa-heart {
  color: red;
}

.body-height {
 height: 98vh;
}

.footer-copyright {
  font-size: 12px;
  padding-top: 10px;

}

.footer {
  box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.3);
}